<section class="section section--details section--bg" data-bg="/resources/assets/images/section/details.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="section__title section__title--mb"><%- helper.capitalizeFirstLetter(movie.movie_name) %></h1>
            </div>
            <div class="col-12 col-xl-6">
                <div class="card card--details">
                    <div class="row">
                        <div class="col-12 col-sm-5 col-md-4 col-lg-3 col-xl-5">
                            <div class="card__cover">
                                <img src="/uploads/<%- movie.poster %>" alt="">
                                <span class="card__rate card__rate--green"><%- movie.review %></span>
                            </div>
                            <a href="<%- movie.trailer %>" class="card__trailer"><i class="icon ion-ios-play-circle"></i> Watch trailer</a>
                        </div>
                        <div class="col-12 col-md-8 col-lg-9 col-xl-7">
                            <div class="card__content">
                                <ul class="card__meta">
                                    <table>
                                        <tr>
                                            <td>Director</td>
                                            <td style="padding-left: 25px;"><a href="#"><%- helper.capitalizeFirstLetter(movie.director) %></a></td>
                                        </tr>
                                        <tr>
                                            <td>Cast</td>
                                            <td style="padding-left: 25px;"><a href="#"><%- helper.capitalizeFirstLetter(movie.cast) %></a></td>
                                        </tr>
                                        <tr>
                                            <td>Genre</td>
                                            <td style="padding-left: 25px;"><a href="#"><%- helper.capitalizeFirstLetter(movie.genre) %></a></td>
                                        </tr>
                                        <tr>
                                            <td>Release Year</td>
                                            <td style="padding-left: 25px;"><a href="#"><%- new Date(movie.release_date).getFullYear() %></a></td>
                                        </tr>
                                        <tr>
                                            <td>Running Time</td>
                                            <td style="padding-left: 25px;"><a href="#"><%- movie.movie_duration %> min</a></td>
                                        </tr>
                                        <tr>
                                            <td>Country</td>
                                            <td style="padding-left: 25px;"><a href="#"><%- helper.capitalizeFirstLetter(movie.movie_origin) %></a></td>
                                        </tr>
                                    </table>
                                </ul>
                                <div class="card__description" style="word-break: break-all; text-align: justify" >
                                    <%- helper.capitalizeFirstLetter(movie.description) %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% if(movie.expected_date === null){ %>
                <div class="col-12 col-xl-6">
                    <video controls crossorigin playsinline poster="/uploads/<%- movie.thumbnail %>" id="player">
                        <% movie.videos.forEach(function( video ) { %>
                            <% if(Number((video.quality).replace(" ",'')) === 720 && user.is_premium === 1 && user.premium_type > 0) {%>
                                <source src="/playback/<%- video.video_hash %>" type="video/mp4" size="<%- video.quality %>">
                            <% } %>
                            <% if(Number((video.quality).replace(" ",'')) > 720 && user.is_premium === 1 && user.premium_type > 1) {%>
                                <source src="/playback/<%- video.video_hash %>" type="video/mp4" size="<%- video.quality %>">
                            <% } %>
                            <% if(Number((video.quality).replace(" ",'')) < 720){ %>
                                <source src="/playback/<%- video.video_hash %>" type="video/mp4" size="<%- video.quality %>">
                            <% } %>
                        <% }); %>
                        <% movie.subtitles.forEach(function( subtitle, count ) { %>
                            <track kind="captions" label="<%- subtitle.language %>" srclang="<%- subtitle.language_src %>" src="/uploads/<%- subtitle.subtitle_slug %>.vtt" <% if(count === 0) {%> default <% } %> >
                        <% }); %>
                    </video>
                </div>
            <% } %>
        </div>
    </div>
</section>
<%- include("./includes/content.ejs" , { user } ) %>